// - G4Bench config file written in JSON5
{
  // -----------------------------------------------------------------
  // Run Configuration
  Run : {
    Seed : 123456789,
    G4DATA : "/opt/geant4/data"
  },
  // -----------------------------------------------------------------
  // Primary Configuration
  Primary : {
    type : "beam",
    Beam : {
      particle  : "gamma",
      photon_voltage : 18,   // photon voltate, [6,18] MV for x-ray beam
      ssd : 100.,  // SSD (cm)
      field_size : 10.0,   // field size (X/Y) in cm
    }
  }
}
